# fly.toml
app = "degentimes-backend"
primary_region = "bom"

[env]
  PORT = "8080"

[build]

  dockerfile = "Dockerfile"


[http_service]
  internal_port = 8080 
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "true" 
  min_machines_running = 1 
  processes = ["app"] 


[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024 # or memory = "1gb"
  processes = ["app"]


[processes]
  app = "node worker.js"

